.idea/
*/.idea
env.sh
*.db
*.bak
*/src/*.js
*/src/stories/*.js
*/src/tests/*.js
*/src/types/*.js
*/src/graphql/*.js
**/__generated__
*/node_modules
deploy/local/create-secrets.sh
/client2/.env
/client2/public/bundle.css
/client2/public/bundle.css.map
/client2/public/bundle.js
/client2/public/bundle.js.map
