**/__generated__
*.log
*.bak
*.db
.env
.idea
env.sh
node_modules
*/src/*.js
*/src/graphql/*.js
*/src/stories/*.js
*/src/tests/*.js
*/src/__tests__/*.js
*/src/types/*.js
.DS_Store
.env*
.idea/
schema.graphql
deploy/local/create-secrets.sh
bundle.*

/client/.storybook/public
