*.bak
*.db
*.log
**/*.js
**/__generated__
bundle.*
.DS_Store
.env
.env*
.idea
client/storybook-static
client/.storybook/public
client/src/googlecid.ts
env.sh
node_modules
schema.graphql
server/coverage
server/deploy/local/create-secrets.sh
server/jest.config.js
/client/src/gql/
deploy/blogql/charts
create-secrets.sh
